In [7]:
import pandas as pd
import numpy as np
from sklearn.svm import SVC
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split

In [8]:
heart_data = pd.read_csv("heart.csv")
heart_data

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [9]:
# Check for nulls in all columns
heart_data.isnull().sum()
# We can see that there are no nulls in the dataset
# So from this data we are looking to apply data pre-processing
features = heart_data.drop('target', axis = 1)
target = heart_data['target']

In [10]:
# Split into train, test split
X_train, y_train, X_test, y_test = train_test_split(features, target, test_size = 0.2)

In [12]:
X_train

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
47,47,1,2,138,257,0,0,156,0,0.0,2,0,2
194,60,1,2,140,185,0,0,155,0,3.0,1,0,2
17,66,0,3,150,226,0,1,114,0,2.6,0,0,2
38,65,0,2,155,269,0,1,148,0,0.8,2,0,2
112,64,0,2,140,313,0,1,133,0,0.2,2,0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...
44,39,1,2,140,321,0,0,182,0,0.0,2,0,2
269,56,1,0,130,283,1,0,103,1,1.6,0,0,3
88,54,0,2,110,214,0,1,158,0,1.6,1,0,2
86,68,1,2,118,277,0,1,151,0,1.0,2,1,3
152,64,1,3,170,227,0,0,155,0,0.6,1,0,3

In [ ]:
svclassifier = SVC(kernel='linear')
svclassifier.fit(X_train, X_test)